@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap'); /* Importing the Epilogue font */

:root {
    /* Colors */
    --color-black: #023047;
    --color-yellow: #FFB703;
    --color-orange: #FB8500;
    --color-white: #fcfcfc;
    /* Fonts */  
    --font-epilogue: "Epilogue";
}

#contact-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}

#contact-titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 210px 0 210px;
}

#creative {
    font-size: 56px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

#creative-clarification {
    font-size: 36px;
    margin: 0;
    font-weight: 500;
    margin: 0 0 80px 0;
    text-align: center;
    line-height: 46px;
}


/* Styling the cards for the social media links */

#social-media-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 56px;
    padding: 0 210px 0 210px;

}

.social-media-box {
    display: flex;
    flex-direction: row;
    font-family: var(--font-epilogue);
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.copy-image {
    height: 27px;
    width: auto;
    align-self: center;
    cursor: pointer;
}

.copy-image:hover {
    opacity: 60%;
    transition: 0.3s;
}

#instagram {
    gap: 27px;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#footer {
    width: 100%;
    margin: 60px 0 0 0;
}