@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap'); /* Importing the Epilogue font */

:root {
    /* Colors */
    --color-black: #023047;
    --color-yellow: #FFB703;
    --color-orange: #FB8500;
    --color-white: #fcfcfc;
    /* Fonts */
    --font-epilogue: "Epilogue";
}


/* Styling the titles */

#project-section-container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 0 80px 0 70px;
}

#project-section-titles {
    margin: 0;
}

.sub-title {
    font-family: var(--font-epilogue);
    color: var(--color-yellow);
    font-weight: 600;
    font-size: 24px;
}

.title {
    font-family: var(--font-epilogue);
    font-weight: bold;
    font-size: 42px;
    margin: 0;
    line-height: 16px;
}


/* Styling the project cards */

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 120px 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 420px
}

.project-title {
    font-family: var(--font-epilogue);
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 12px 30px;
}

.skills-used {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
}

.skill {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-family: var(--font-epilogue);
    font-weight: 500;
    font-size: 15px;
}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 6px 0;
}

.btn-container-see-the-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
    border-bottom: var(--color-yellow) solid 1px;
    margin: 0 22px 12px 0;
    cursor: pointer;
}

.btn-container-see-the-project:hover {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    transition: 0.4s;
}

.btn-see-the-project {
    align-self: flex-end;
    font-family: var(--font-epilogue);
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: var(--color-black);
}

.btn-see-the-project:hover {
    color: var(--color-black);
}

.btn-arrow {
    margin: 0 0 0 8px;
}


/* Responsive */

@media screen and (max-width: 1440px) {

    .project-card {
        width: 360px;
    }

    .btn-container-see-the-project {
        font-size: 13px;
    }

    .skill-image {
        width: 27px;
    }

    .skill-text {
        font-size: 14px
    }

    .project-title {
        font-size: 18px;
    }

    .btn-arrow {
        width: 18px;
    }
}

@media screen and (max-width: 1280px) {

    .project-card {
        width: 310px;
    }

    .btn-container-see-the-project {
        font-size: 12px;
        margin: 0 16px 12px 0;
    }

    .skills-used {
        margin: 0 0 0 16px;
    }

    .skill-image {
        width: 24px;
    }

    .skill-text {
        font-size: 12px
    }

    .project-title {
        font-size: 16px;
        margin: 15px 0 12px 15px;
    }

    .btn-arrow {
        width: 16px;
    }
}

@media screen and (max-width: 1140px) {

    #projects-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #project-section-titles {
        align-self: center;
        text-align: center;
    }

    .project-card {
        width: 420px;
    }

    .project-title {
        font-size: 20px;
        margin: 15px 0 12px 30px;
    }

    .btn-container-see-the-project {
        font-size: 15px;
    }

    .skill-image {
        width: 30px;
    }

    .skill-text {
        font-size: 16px
    }

    .skills-used {
        margin: 0 0 0 30px;
    }

    .btn-arrow {
        width: 18px;
    }
}
