@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --color-black: #023047;
    --color-yellow: #FFB703;
    --color-orange: #FB8500;
    --color-white: #fcfcfc;
    /* Fonts */
    --font-epilogue: "Epilogue";
}

#project-section-container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 0 80px 0 70px;
}

#project-section-titles {
    margin: 0;
}

.sub-title {
    font-family: var(--font-epilogue);
    color: var(--color-yellow);
    font-weight: 600;
    font-size: 24px;
}

.title {
    font-family: var(--font-epilogue);
    font-weight: bold;
    font-size: 42px;
    margin: 0;
    line-height: 16px;
}

#projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 120px 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 380px
}

.project-title {
    font-family: var(--font-epilogue);
    font-size: 21px;
    font-weight: 600;
}

.skills-used {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
}

.skill {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: var(--font-epilogue);
    font-weight: 500;
}

.btn-see-the-project {
    border-bottom: var(--color-yellow) solid 1px;
}